/* used for standardizing colors in website */
:root {
    --primary-color: #020202;
    --secondary-color: #024e76;
    --tertiary-color: #0a292c;
    --background-color: rgb(242, 238, 245);
    --project-color: rgb(46, 0, 82);
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* HEADER / NAV BAR STYLES START */
/* organized nav bar to top right and header title to top left */
header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/portfolioTopImage.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(242, 238, 245, 0.8);
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(242, 238, 245, 0.8);
  }
  /* hover effect to add styling to clickable links */
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--background-color);
    border-radius: 15px;
    text-shadow: none;
  }
  
  /* HEADER / NAVBAR STYLES END */

  /* HERO STYLES START */
  /* used a cool wood pannel stock photo as background image, 
  i have my picture and welcome message stylized in a flexbox */
.hero {
  background-image: url('../images/portfolioTopImage.jpeg');
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-end;
  background-attachment: fixed;
  background-position: 80%;
}

.hero-cta {
  width: 100%;
  margin: 3.5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-around;
}

.suitPic {
    padding: 25px;
}

.suitPic img {
    border: solid;
    border-color: var(--secondary-color);
}

.hero-cta h2 {
    background-color: rgb(242, 238, 245, 0.8);
  font-style: italic;
  font-size: 42px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

/* HERO END */
/* use an off-white color as background color for website */
body {
    background-color: var(--background-color);
}

/* SECTION TITLE STYLES START */
/* styled section titles to be standardized including border bar */
.section-title {
    font-size: 48px;
    border-right: 3px solid;
    color: var(--secondary-color);
    width: 25%;
    text-align: Center;
    margin-right: 3%;
  }
  
  .primary-border {
    border-color: var(--primary-color);
  }
  
  .secondary-border {
    border-color: var(--tertiary-color);
  }
  
  /* SECTION TITLE STYLES END */


/* about me STYLES */
/* standardized layout of flexbox for each section ID */
#about-me,
#portfolio-of-projects,
#contact-me
 {
    display: flex;
    align-items: center;
    margin: 30px auto 30px auto;
}

.intro {
    width: 100%;
}

.intro p {
    color: var(--tertiary-color);
    float: right;
    width: 75%;
    font-size: 20px;
  }
  /* about me STYLES END */

/* PORTFOLIO START */
/* used grid layout here to display the projects that I've created
made sure to set the first project to be 2x2 of the grid
also set up reactive animations when the user hovers over the individual grid items
also baked in links to projects for each grid item */
.my-work-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: dense;
    grid-gap: 20px;
    height: 500px;
    overflow: hidden;
    z-index: 9999;
}

.project {
    background-color: var(--secondary-color);
    background-size: cover;
    min-height: 100%;
    border: solid;
    border-width: 3px;
    border-color: var(--secondary-color);
    overflow: hidden;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    position: relative;
}

.wrap-img {
    cursor: pointer;
}

.box1 {
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
    background-image: url(../images/runBuddyCap.jpg);
}
.box2 {
    grid-column: 1/ span 1;
    grid-row: 3/ span 1;
    background-image: url(../images/robotGladiatorsCap.jpg);
}
.box3 {
    grid-column: 2/ span 1;
    grid-row: 3/ span 1;
    background-image: url(../images/Checkout_guy.jpg);
}
.box4 {
    grid-column: 3/ span 1;
    grid-row: 1/ span 1;
    background-image: url(../images/c-sharp-project.jpg);
}
.box5 {
    grid-column: 3/ span 1;
    grid-row: 2/ span 1;
    background-image: url(../images/passwordGenerator.jpg);
}

.my-work-wrapper {
    width: 60%;
    background: cover;
}

.my-work {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    background-color: var(--primary-color);
}

.project:hover .grid-item::after{
    opacity: .8;
  }
  
  .grid-item::after {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(var(--background-color), var(--secondary-color));
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
  }
  
  .grid-item h3 {
    position: relative;
    z-index: 1;
    font-size: 1.8em;
    margin-bottom: 5px;
    top: 200px;
    transition: 0.6s;
    color: var(--project-color);
  }
  
  .grid-item h4 {
    position: relative;
    z-index: 1;
    font-size: 1.8em;
    top: 200px;
    transition: 0.6s;
    transition-delay: .2s;
    color: var(--project-color);
  }
  
  .project:hover .grid-item h3, .project:hover .grid-item h4 {
    top: 0;
  }
  
  /* portfolio STYLES END */

  /* Contact me start*/
/* stylized the contact me section to mirror the 
navigation bar at the top of the website 
the items are clickable and include hover animations as well*/
#contact-me a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  #contact-me nav {
    margin: 7px 0;
    width: 75%;
  }
  
  #contact-me nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  #contact-me nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  #contact-me nav ul li a:hover {
    background: var(--primary-color);
    color: var(--background-color);
    border-radius: 15px;
    text-shadow: none;
  }

  /* Contact me end */

  /* FOOTER STYLES START */
footer {
    background: var(--background-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: var(--secondary-color);
  }
  /* END FOOTER STYLES */

  /* Begin sizing change styles */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }

    .section-title {
    font-size: 2em;
    border-right: 3px solid;
    color: var(--secondary-color);
    width: 15%;
    text-align: Center;
    margin-right: 3%;
    }
    
#about-me,
  #portfolio-of-projects,
  #contact-me
   {
      display: flex;
      align-items: center;
      
  }

    .grid-item h3 {
        position: relative;
        z-index: 1;
        font-size: 1.5em;
        margin-bottom: 5px;
        top: 200px;
        transition: 0.6s;
        color: var(--background-color);
      }
      
      .grid-item h4 {
        position: relative;
        z-index: 1;
        font-size: 1.5em;
        top: 200px;
        transition: 0.6s;
        transition-delay: .2s;
        color: var(--background-color);
      }
  }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }

    .section-title {
    font-size: 2em;
    border-bottom: 3px solid;
    border-right: 0px solid;
    color: var(--secondary-color);
    width: 15%;
    text-align: Center;
    margin: auto auto 0.5em auto;
    }
    
#about-me,
  #portfolio-of-projects,
  #contact-me
   {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
  }

    .grid-item h3 {
        position: relative;
        z-index: 1;
        font-size: 1.5em;
        margin-bottom: 5px;
        top: 200px;
        transition: 0.6s;
        color: var(--background-color);
      }
      
      .grid-item h4 {
        position: relative;
        z-index: 1;
        font-size: 1.5em;
        top: 200px;
        transition: 0.6s;
        transition-delay: .2s;
        color: var(--background-color);
      }
  }

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

  /* Set relative sizes for the major elements on the screen
  This includes: header,
  section titles,
  flexboxes,
  footer
  titles in project grid items */
@media screen and (max-width: 575px) {

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }

.section-title {
    font-size: 2em;
    border-bottom: 3px solid;
    border-right: 0px solid;
    color: var(--secondary-color);
    width: 15%;
    text-align: Center;
    margin: auto auto 0.5em auto;
    }
    
#about-me,
  #portfolio-of-projects,
  #contact-me
   {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
    .grid-item h3 {
        position: relative;
        z-index: 1;
        font-size: 1.5em;
        margin-bottom: 5px;
        top: 200px;
        transition: 0.6s;
        color: var(--background-color);
      }
      
      .grid-item h4 {
        position: relative;
        z-index: 1;
        font-size: 1.5em;
        top: 200px;
        transition: 0.6s;
        transition-delay: .2s;
        color: var(--background-color);
      }
  }
  /* End sizing change styles */